body {
  font-family: sans-serif;
  background-color: #fff6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 550px;
}

h1 {
  color: #ff8000;
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  width: 100%;
  background-color: #ff8000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #e76f00;
}

.datetime-input {
  width: 250px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  text-align: center;
  padding: 12px 10px;
}

th {
  font-weight: bold;
}


.error {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
  text-align: center;
}
